.category-holder {
  align-items: center;
  justify-content: center;
}

.category-inner {
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 4%;
}
.category-tile {
  width: 8vw;
  aspect-ratio: 1;
  margin: 1%;
  padding: 5px;
  max-width: 70px;
  max-height: 70px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: rgba(2, 183, 255, 0.934);
  box-shadow: 10px 10px 20px 2px;

  text-align: center;
}

.category-tile img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.tile {
  display: flex;
  padding: 0;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
  /* margin: 2%; */
}

.tile h3 {
  margin: 0;
  font-size: x-small;
  margin-bottom: 5px;
  padding: 0;
  color: white;
}

.tile:hover {
  transform: translateY(-5px);
  box-shadow: 10px 0px 40px 15px;
  border-radius: 8px;
  color: #c3ff00dd;
  cursor: pointer;
}

.tile:active {
  color: #ddf982;
}

.tile.active {
  transform: translateY(-5px);
  box-shadow: 10px 0px 40px 15px;
  border-radius: 8px;
  color: #c3ff00dd;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .category-holder {
    position: absolute;
    bottom: 1%;
  }
}
