.landing-right-panel {
  width: 100vw;
  height: 100vh;
  flex: 1;
  background-color: #4378b0;

  /* Add styling for the right panel if needed */
}

.landing-right-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.landing-right-content h2 {
  font-size: medium;
}

.landing-title {
  width: 50%;
}

.landing-title-letter {
  font-size: 80px;
  width: 25%;
  min-width: 60px;
  /* max-width: 100px; */
  aspect-ratio: 1;
  text-align: center;
  margin: 15px;
  border-radius: 3px;
  background-color: #e0c79b;
  box-shadow: 10px 10px 20px 2px;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 480px) {
  .landing-title-letter {
    font-size: 40px;
    margin: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .landing-title-letter {
    font-size: 40px;
    margin: 10px;
    width: 15%;
  }
}
